<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162958601233-t56d5lms0uo8kjt13msmi947rp3k3e5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162958601233-t56d5lms0uo8kjt13msmi947rp3k3e5m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>162958601233-7k1gibtfiphe92lmn5p6j55ns17rk7ut.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaFwElH1-hYFhyE4VCLIAJ62kq1u5QaMo</string>
	<key>GCM_SENDER_ID</key>
	<string>162958601233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticketstopper</string>
	<key>PROJECT_ID</key>
	<string>ticketstopper</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketstopper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162958601233:ios:a72348db6c2591632955b0</string>
</dict>
</plist>